body {
    background-color: #fff3e0; /* Color de fondo naranja claro */
    color: #bf360c; /* Texto marrón oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el cuadro */
    background-color: #ff00bb; /* Fondo morado para el formulario */
    border-radius: 8px; /* Bordes redondeados */
}
.result {
    font-weight: bold;
    margin-top: 10px;
    color: #1aff00; /* Color del texto del resultado en verde */
}
